.card {
  aspect-ratio: 3 / 4;
  width: 300px;

  background-color: white;

  border-radius: 15px;
  margin: 20px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
